*.out
*.a
*.o

generator
solver

dante_bonus
bonus/dante_bonus

!generator/
!solver/

unit_tests
generator_unit_tests
solver_unit_tests

.idea
.idea/
.vscode
.vscode/
*.xml

*.gcda
*.gcno

vgcore.*

*~
